<header id="header">

  <h1>todos</h1>

  <%= directive(:todo_form) do %>
    <%= text_field_tag :title, '',
      placeholder: "What needs to be done?",
      id: 'new-todo',
      data: { ng_model: "todo.title" } %>
  <% end %>
</header>

<section ng-show="<%= @todos.bind %>.length > 0" id="main">

  <input
    ng-click="<%= service(:mark_all_as_completed, @todos.bind) %>"
    id="toggle-all"
    type="checkbox">

  <label for="toggle-all">Mark all as complete</label>

  <%= directive(:todo_list, { todos: @todos.bind }) %>

</section>

<footer ng-show="<%= @todos.bind %>.length > 0" id="footer">

  <span id="todo-count"><strong ng-bind="<%= service(:tasks_incomplete, @todos.bind) %>"></strong> item left</span>

  <button ng-click="<%= service(:clear_completed, @todos.bind) %>"
          ng-hide="<%= service(:tasks_completed, @todos.bind) %> === 0"
          id="clear-completed">
    Clear completed ({{<%= service(:tasks_completed, @todos.bind) %>}})
  </button>

</footer>
