<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Angular Sprinkles • TodoMVC</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <section id="todoapp">
      <%= yield %>
    </section>

    <%= render partial: 'layouts/footer' %>

    <%= yield :sprinkles %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
